{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
    <link rel="icon" href="{% static 'images/list.png' %}" type="image/png">
    <title>Register</title>
</head>

<body>
    <div class="wrap">
        <h2>Register here!</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="First Name" name="first_name" required>
            <input type="text" placeholder="Last Name" name="last_name" required>
            <input type="text" placeholder="Username" name="username" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password1" required>
            <input type="password" placeholder="Confirm Password" name="password2" required>
            <button type="submit">Submit</button>
        </form>
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Login here</a>
    </div>


</body>

</html>