{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/work.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/list.png' %}" type="image/png">
    <title>Tasks</title>
</head>

<body>

    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a href="{{ home.html }}"><img src="{% static 'images/list.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a style="margin: 10px;" class="nav-item nav-link" href="#"><b>Help</b></a>
                    <a style="margin: 10px;" class="nav-item nav-link" href="#"><b>About us</b></a> {% if user.is_authenticated %}
                    <label style="margin: 10px;" class="nav-item nav-link"><b>Hello, {{ user.first_name }}</b></label>
                    <a href="{% url 'logout' %}">
                        <button style="margin: 10px;" type="button" class="btn btn-outline-info">Logout</button>
                    </a>
                    {% else %}
                    <a href="accounts/login">
                        <button style="margin: 10px;" type="button" class="btn btn-outline-info">Login</button>
                    </a>
                    <a href="accounts/register">
                        <button style="margin: 10px;" type="button" class="btn btn-outline-info">Register</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <div style="margin-top: 120px;" class="container justify-content-center wrap1">
        <div class="text-center heading">
            <p><u>write your everyday task here!!!<u></p>
      </div>
    </div>

    <ul style="list-style: none; color: #1b0573; font-weight: bold; margin-top: 60px;" class="text-center">
        {% for todo_item in all_items %}
        <li>
            <div class="row">
                <div class="col-sm-6">
                    {{ todo_item.content }}
                </div>
                <div class="col-sm-2">
                    {{ todo_item.date_created }}
                </div>
                <div class="col-sm-1">
                    <form action="/deleteTodo/{{ todo_item.id }}/" method="post" style="display: inline;">
                        {% csrf_token %}
                        <div class="form-group">
                            <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                        </div>
                    </form>
                </div>

        </li>
        {% endfor %}
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <form action="/addTodo/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="write your task" name="content">
                    </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-success" value="Add">
                </div>
            </div>
        </div>
        </form>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>